Source: icehms
Maintainer: Olivier R-D <olivier@dummyaddress.com>
Section: devel
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1
X-Python-Version: >=2.5

Package: icehms
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-zeroc-ice
Breaks: ${python:Breaks}
Conflicts: python-icehms
Description: Thin Framework to Develop Holonic or Multi-Agent Systems

